name: ci

on:
  push:
    branches:
      - "main"

permissions:
  contents: read
  packages: write  # Needed for GHCR push

env:
  IMAGE_NAME: ghcr.io/${{ github.repository }}:latest
      
jobs:
  go-lint:
    name: Lint Go
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24'

      - name: Download dependencies
        run: go mod download
        working-directory: src

      - name: Run Lint Go
        uses: golangci/golangci-lint-action@v7
        with:
          version: ${{ env.GOLANGCI_LINT_VERSION }}
          working-directory: src
          skip-pkg-cache: true
          skip-build-cache: true

  docker-lint:
    name: Lint Dockerfile
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Lint Dockerfile with Hadolint
        uses: hadolint/hadolint-action@v3.1.0
        with:
          dockerfile: ./Dockerfile

  image-build-and-test:
    name: Build, Scan & Test Docker Image
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image for local test (only linux/amd64)
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: linux/amd64
          load: true
          tags: sdxapp:test

#      - name: Install Trivy
#        uses: aquasecurity/trivy-action@v0.30.0
#        with:
#          image-ref: sdxapp:test
#          format: table
#          exit-code: 1
#          severity: CRITICAL,HIGH

      - name: Run test container and python test
        run: |
          docker run -d --rm -p 8080:8080 --name recipe-api sdxapp:test
          python3 test-recipe.py
          sleep 60

      - name: Stop container
        if: always()
        run: docker stop recipe-api

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Push to GHCR
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ env.IMAGE_NAME }}
